*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# emacs tmp
*~
.*~
\#*\#
.\#*\#

# mac folder info
.DS_Store

# others
*.swp
.settings/
*DS_Store
.idea/
test*.sh

build/
build_old/
build_stable/
release/
